body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }
    #heading{
        background-color: rgb(43, 226, 113);
        padding: 20px;
        color: white;
    }